.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.scroller {
  font-weight: 900; 
  text-transform: uppercase;
  font-size: 4rem; 
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.scroller span {
  display: block;
  margin-right: 1.5rem; 
}

@media (max-width: 768px) {
  .scroller {
    font-size: 2.5rem; 
  }
}